/* Noughts & crosses */
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:100,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,100);

body {
  /*font-family: 'Advent Pro', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  background: url(../images/backgrounds/10.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-weight: 100;
}
.container {
  margin: 0 auto;
}
.box-1 {
  display: inline-block;
  width: 10%;
  vertical-align: top;
}
.box-2 {
  display: inline-block;
  width: 19.6%;
  vertical-align: top;
  position: relative;
}
.box-3 {
  display: inline-block;
  width: 30.8%;
  vertical-align: top;
}
.box-4 {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
.box-5 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.box-6 {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}
.box-7 {
  display: inline-block;
  width: 70%;
  vertical-align: top;
}
.box-8 {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}
.box-9 {
  display: inline-block;
  width: 90%;
  vertical-align: top;
}
.box-10 {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.game-wrapper {
  position: relative;
  box-shadow: 0px 0px 19px 0px rgba(80,80,80,1);
  margin: 20px;
  -webkit-animation: bounceInDown 0.6s 1;
  background-color: rgba(255,255,255, 0.3);
  display: none;
}
.game-box {
  height: 250px;
  padding: 10px;
  text-align: center;
  font-size: 160px;
}
.center-box {
  border: 1px solid #fff;
}
.left-center-box, .right-center-box {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.top-center-box, .bottom-center-box {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; 
}
.js-circle {
  margin: 66px auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: rgba(247,202, 24, 1);
  -webkit-animation: pulse 0.3s 1;
}
.js-square {
  margin: 66px auto;
  height: 120px;
  width: 120px;
  background-color: rgba(54, 215, 183, 1);
  -webkit-animation: pulse 0.3s 1;
}
.js-allow-no-click {
  pointer-events: none;
}
.left-hand-nav {
  position: fixed;
  height: 100%;
  width: 20%;
  border-right: 1px solid #999;
}
.left-hand-nav h1 {
  margin: 10px 20px;
  font-size: 30px;
}
.right-hand-nav {
  position: fixed;
  height: 100%;
  width: 20%;
  border-left: 1px solid #999;
}
.opacity-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  text-shadow: 0px 0px 15px #aaa;
}
.winner-text {
  position: relative;
  text-align: center;
  z-index: 1;
  top: 35%;
  font-size: 64px;
  font-weight: 100;
  -webkit-animation: flip 0.5s 1;
  text-transform: uppercase;
}

/** Game details box **/
.user-details {
  margin: 0 auto;
  width: 35%;
  background-color: rgba(255,255,255, 0.3);
  padding: 1px 10px 10px 10px;
  margin-top: 200px;
}
.user-details-header {
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
}
.user-details input {
  width: 100%;
  margin: 10px 0;
  border: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
  outline: 0;
  font-size: 20px;
  background: transparent;
}
::-webkit-input-placeholder { 
  color: rgba(255,255,255,0.6);
 }
.user-details button {
  width: 100%;
  background-color: #e74c3c;
  color: #fff;
  border: 0;
  padding: 10px;
  margin-top: 10px;
  outline: 0;
  transition: transform 0.3s;
}
.user-details button:hover {
  transform: scale(1.04);
}




